@font-face {
  font-family: "Faustina";
  font-weight: 400;
  src: url(../../assets/fonts/Faustina-VariableFont_wght.ttf) format("opentype");
}
@font-face {
  font-family: "Faustina";
  font-weight: 600;
  src: url(../../assets/fonts/Faustina-Italic-VariableFont_wght.ttf) format("opentype");
}
@font-face {
  font-family: "Urbanist";
  font-weight: 400;
  src: url(../../assets/fonts/Urbanist-VariableFont_wght.ttf) format("opentype");
}
@font-face {
  font-family: "Urbanist";
  font-weight: 600;
  src: url(../../assets/fonts/Urbanist-Italic-VariableFont_wght.ttf) format("opentype");
}
@font-face {
  font-family: "Faustina";
  font-weight: 400;
  src: url(../../assets/fonts/Faustina-VariableFont_wght.ttf) format("opentype");
}
@font-face {
  font-family: "Faustina";
  font-weight: 600;
  src: url(../../assets/fonts/Faustina-Italic-VariableFont_wght.ttf) format("opentype");
}
@font-face {
  font-family: "Urbanist";
  font-weight: 400;
  src: url(../../assets/fonts/Urbanist-VariableFont_wght.ttf) format("opentype");
}
@font-face {
  font-family: "Urbanist";
  font-weight: 600;
  src: url(../../assets/fonts/Urbanist-Italic-VariableFont_wght.ttf) format("opentype");
}
.teacher-header {
  margin-inline: 4rem;
  margin-top: 4rem;
  width: 349px;
  height: 131px;
  color: #129D72;
  font-weight: 600;
  font-size: 50px;
}

.teacher-profile {
  width: 1200px;
  display: flex;
  margin-inline: 2rem;
  justify-content: space-between;
}
.teacher-profile__info {
  text-align: center;
  justify-content: center;
  width: 20%;
  background-color: #129D72;
  width: 35rem;
  height: 899px;
  border: 3px solid #129D72;
  margin-bottom: 3rem;
  border-radius: 4px;
}
.teacher-profile__profile-image {
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 179px;
  border-radius: 5%;
}
.teacher-profile__inputs {
  color: #ffffff;
  font-size: 25px;
  font-weight: 300;
  text-align: left;
  margin-inline: 6rem;
  margin-bottom: 3rem;
}

.teacher-details {
  width: 1000px;
  text-align: left;
}
.teacher-details__about-me {
  background-color: #ffffff;
  display: flex;
  border: 1px solid #129D72;
  padding: 2rem;
  flex-direction: column;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  justify-content: space-between;
  margin-inline: 1rem;
  margin-bottom: 2rem;
}
.teacher-details__header {
  margin-bottom: 2rem;
  color: #129D72;
}
.teacher-details__about {
  font-size: 1.25rem;
  line-height: 1.6rem;
}

.myteacher-reviews {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  background-color: #ffffff;
  margin-inline: 1rem;
  border: 1px solid #129D72;
  padding: 1rem;
  margin-top: 2rem;
  height: 250px;
}
.myteacher-reviews__title {
  margin-left: 3rem;
  color: #129D72;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: left;
  display: inline-block;
}
.myteacher-reviews__icon {
  width: 100%;
  height: 24px;
  margin-bottom: 1rem;
  margin-left: 6rem;
}
.myteacher-reviews__impresion {
  margin-left: 5rem;
  font-weight: 600;
  font-size: 30px;
}
.myteacher-reviews__button {
  background-color: #129D72;
  color: #ffffff;
  width: 141px;
  height: 40px;
  flex-shrink: 0;
  padding: 0.5rem;
  border-radius: 32px;
  margin-left: 7rem;
}

.myteacher-price {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  background-color: #ffffff;
  margin-inline: 1rem;
  height: 220px;
  border: 1px solid #129D72;
  padding: 2rem;
  margin-top: 2rem;
}
.myteacher-price__title {
  color: #129D72;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.myteacher-price__price {
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.myteacher-price__button {
  background-color: #129D72;
  color: #ffffff;
  width: 141px;
  height: 58px;
  flex-shrink: 0;
  padding: 0.5rem;
  border-radius: 32px;
}

.my-student-header {
  color: #129D72;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.my-students-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.my-student {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  display: flex;
  background-color: #ffffff;
  margin-inline: 1rem;
  border: 1px solid #129D72;
  height: 240px;
  margin-bottom: 1rem;
  padding: 2rem;
  width: 45%;
}
.my-student__image {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 3rem;
}
.my-student__name {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.my-student__subject {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.my-student__date {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.teacher-Reminder {
  margin-left: 3rem;
  display: flex;
  margin-bottom: 3rem;
  margin-top: 3rem;
  flex-direction: column;
}
.teacher-Reminder__header {
  color: #129D72;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  display: inline-block;
}
.teacher-Reminder__msg {
  width: 20rem;
  margin-bottom: 2rem;
}
.teacher-Reminder__image {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.teacher-Reminder__button {
  margin-top: 2rem;
  margin-left: 2rem;
  background-color: #129D72;
  color: #ffffff;
  width: 141px;
  height: 40px;
  flex-shrink: 0;
  padding: 0.5rem;
  border-radius: 32px;
  margin-bottom: 4rem;
}/*# sourceMappingURL=MyPageTeacher.css.map */