@import "../../styles/partials/fonts";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.card {
  width: 300px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  figure {
    margin: 0;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__body {
    margin-top: 20px;

    h2 {
      margin-bottom: 10px;
      font-size: 1.9rem;
      letter-spacing: 0.06em;
      color: var(--title-color);
    }

    p {
      margin-bottom: 5px;
      width: 50%;
    }

    button {
      margin-top: 10px;
      padding: 8px 16px;
      background-color: #28666e;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}

.teacher-info{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 width: 100%;
}