// Type Kit

@font-face {
  font-family: "Faustina";
  font-weight: 400;
  src: url(../../assets/fonts/Faustina-VariableFont_wght.ttf) format("opentype");
}

@font-face {
  font-family: "Faustina";
  font-weight: 600;
  src: url(../../assets/fonts/Faustina-Italic-VariableFont_wght.ttf) format("opentype");
}
@font-face {
  font-family: "Urbanist";
  font-weight: 400;
  src: url(../../assets/fonts/Urbanist-VariableFont_wght.ttf) format("opentype");
}
@font-face {
  font-family: "Urbanist";
  font-weight: 600;
  src: url(../../assets/fonts/Urbanist-Italic-VariableFont_wght.ttf) format("opentype");
}

