//Colors

$Orange: #ee8262;
$Yellow: #eaeaae;
$White: #ffffff;
$button: #28666e;
$green: #129D72;
$Black: #13182c;

// Secondary Colors
$Olive: #98a148;	   
$Peach: #eb5e66;

// Background Colors
$Light-Grey: #ebebeb;

$tablet-breakpoint: 768px; 
$desktop-breakpoint: 1280px; 
