@import "../../styles/partials/fonts";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.video-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  background-color: #ddd;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    height: auto;
    
  }

  h3 {
    padding: 10px;
    font-size: 1rem;
    color: #333;
    text-align: center;
  }
}