@import "./styles/partials/fonts";
@import "./styles/partials/mixins";
@import "./styles/partials/variables";
* {
  font-family: 'Urbanist';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}
body {
  width: 100%;
  background-color: $Light-Grey;
}


